.home-page{
  height: 100vh;
  background-image: url('../../assets/bg2.svg');
  background-size: cover;
  div.notify-tip{
    display: flex;
    background: rgba(255,255,255,0.8);
    line-height: 40px;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 ;
    position: absolute;
    width: calc(100vw - 32px);
    margin-left: 16px;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  &.unlock{
    background-image: url('../../assets/bg1.svg');
  }
  .device-setting{
    position: absolute;
    top: 60px;
    right: 20px;
  }
  .lock-state{
    margin: 0 auto 26px;
    padding-top: 52px;
    width: max-content;
    div.battery{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    >img{
      width: 160px;
      height: 160px;
    }
  }

  .splitor{
    width: 1px;
    height: 10px;
    opacity: 1;
    background: rgba(21,22,26,0.3);
    margin: 0 8px;
  }

  .card-list{
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 12px;
    padding-left: 16px;
    .card-icon{
      width: 24px;
      height: 24px;
    }

    .card-btn{
      display: inline-block;
      width: 104px;
      margin-right: 0;
      height: 88px;
      margin: 0 12px 0 0;
      &-title{
        margin-top: 12px;
      }
    }
  }

  .user-cell{
    margin: 0 16px;
    height: 60px;
  }
  .log-menu{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 500;
  }
}