.home-page{
  height: 100vh;
  &.page{
    background-image: url('../../assets/bg2.svg');
    background-size: cover;
  }

  div.notify-tip{
    display: flex;
    background: rgba(255,255,255,0.8);
    line-height: 40px;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 ;
    position: absolute;
    width: calc(100vw - 32px);
    margin-left: 16px;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  &.unlock{
    background-image: url('../../assets/bg1.svg');
  }
  .device-setting{
    position: absolute;
    @top: 15px;
    top: @top;
    right: 16px;
    &.bottom{
      top: (@top + 40px);
    }
  }
  .lock-state{
    margin: 0 auto 26px;
    padding-top: 12px;
    width: max-content;
    // height: 218px;
    // box-sizing: border-box;
    &.tip-show{
      padding-top: 52px;
    }
    div.battery{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    >img{
      // width: 160px;
      height: 160px;
    }
  }

  .splitor{
    width: 1px;
    height: 10px;
    opacity: 1;
    background: rgba(21,22,26,0.3);
    margin: 0 8px;
  }
  .card-icon{
    width: 24px;
    height: 24px;
    &.loading{
      animation: rotate infinite 0.8s forwards linear;
    }
  }
  .card-list{
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 12px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    .card-btn{
      display: inline-block;
      @total: 375px - 56px;
      width: calc(@total / 3);
      margin-right: 0;
      height: 88px;
      margin: 0 0 0 0;
      &-title{
        margin-top: 12px;
      }
    }
  }

  .user-cell{
    margin: 0 16px;
    height: 60px;
    box-sizing: border-box;
    .iotp-cell-title{
      font-size: 14px;
      margin-left: 8px;
    }
  }
  .log-menu{
    display: flex;
    justify-content: space-between;
    padding: 0 24px 10px;
    font-size: 14px;
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  0%{
    transform: rotate(360deg);
  }
}

.adm-toast-mask .adm-toast-main.adm-toast-main-icon{
  min-width: 120px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.adm-popup .adm-action-sheet-button-item-name{
  font-size: 16px
}
.adm-floating-panel .adm-floating-panel-header div.adm-floating-panel-bar{
  width: 9vw;
}