.page.setting{
  padding: 16px;
  .iotp-cell{
    height: 30px;
  }
  .delete-btn{
    margin: 16px 0
  }
  .iotp-cell-title{
    color: #6D7077
  }
  .iotp-cell-ft{
    font-size: 16px
  }
  .red-dot{
    width: 6px;
    height: 6px;
    background: #fa5151;
    border-radius: 50%;
  }
}