.pwd-add{
  &-title{
    margin-top: 67px;
    color: rgba(109,112,119,1);
    font-size: 16px;
    font-weight: 500;
    font-family: "PingFang SC";
    text-align: center;
    span{
      display: block;
      &:nth-child(2){
        color: rgba(21,22,26,1);
        font-size: 40px;
        margin: 8px;
      }
    }
  }
  &-icon{
    background-image: url('../../../assets/pwd/block.svg');
    width: 180px;
    height: 180px;
    margin: 90px auto;
    img{
      width: 100px;
      height: 100px;
      margin: 40px;
    }
  }
  &-exit{
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  &.success,&.failed{
    padding: 16px;
    height: 100vh;
    .status-title{
      color: rgba(21,22,26,1);
      font-size: 17px;
      font-weight: 500;
      padding: 16px 0 10px;
    }
    .user-name{
      color: rgba(108,112,120,1);
      font-size: 14px;
      font-weight: 400;}
  }
  .status-info{
    margin: 180px auto;

    text-align: center;
    img{
      width: 60px;
      height: 60px;
    }
  }
}